html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

<style>
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@200&display=swap');
</style>



html{
    font-size:62.5%;
    font-family: 'Roboto Mono', monospace;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    padding: 20px;
    background: #FAEBD7;
}

* {
    border: gray solid 1px;
    box-sizing: border-box;
    max-width: 100%;
}

/* Header styles */

header {
  
}

nav a {
    display: inline-block;
    margin: 2% 10%;
    padding: 0 4%;
    color: #ffffff;
    font-size: 2.2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

.plan {
    background: #FF764E;
}

.learn {
    background: #5ED3EB;
}

.get {
    background: #FFCD69;
}

#top {
    display: inline-block;
    margin: 5%;
    padding: 1%;
}


.pic {
    display: inline-block;
    width:20%;
}

.pic img {
    border-radius: 50%;

}

.main {
    display: inline-block;
    width:79%;
    text-align: center;
    border: 1px solid green;
}


.main h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 4em;
    padding:1%;
}

.main h2 {
    font-size: 1.5em;
    padding:1%;
}

.main p {
    font-size: 1.5em;
    padding:1%;
    margin: 0 32%;
}


/* Main body styles */

#coloredBox {
    background: #DDB9A3;
    padding: 2%;
    margin: 2%;
    font-size: 3rem;
    color: #F5DEB3;
}

.description p {
    padding: 1% 0;
}

#mid {
    padding: 0 30%;
}

.fire {
    margin: 0 20%;
    text-align: center;
}

.fire span {
    font-weight: bold;
}

.camper {
    margin: 5% 20%;
    text-align: center;
}

.camper span {
    font-weight: bold;
}

.mountains {
    height: 30rem;
    overflow:hidden;
}

.mountains img {
    /* background-image: url("assets/footer_img.jpg");
    background-repeat: no-repeat; */

    /* height: 100%; */
    width: 100%;
    margin-top: -200px; 
}

